/* 
#8FBDD3 blue
#E4D1B9 beige
#BE8C63 light-brown
#A97155 brown
*/


*{
    margin: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;

    font-family: 'Nunito Sans', sans-serif;
    padding: 1.5% 4% !important;
}

nav ul{
    display: flex;
    flex-direction: row;
}

nav h1{
    font-weight: 700;
    font-size: 1.5rem;
}

nav li{
    list-style: none;
    margin-left: 2rem;
}

nav a{
    text-decoration: none;
    color:grey;
    font-size: 1rem;
    font-weight: 600;
}

nav a:hover{
    color: #8FBDD3;
}




.pad-x{
    padding-left: 10%;
    padding-right: 10%;
}

.text-blue{
    color: #8FBDD3;
}

.text-brown{
    color: #BE8C63;
}

.bg-blob{
    background: url("../images/blob.svg");
    background-size: cover;
    background-position:center;
}

.card{
    border: solid 0.2px;
}




#header{
    padding-top: 15%;
    padding-bottom: 15%;
}

#header h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

#about{
    padding-top: 3%;
    padding-bottom: 3%;
}

#about .col-6:nth-child(1){
    background: url("../images/blob2.svg");
    background-size: contain;
    background-repeat:no-repeat;
    background-position: center;

    display: flex;
    align-items: center;
    justify-content: center;
}

#about .col-6:nth-child(1) h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 4rem;
}

#about p{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
}

#projects{
    padding-top: 7%;
    padding-bottom: 7%;

    background: url("../images/waves.svg");
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

#projects h1:nth-child(1){
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 4rem;
    text-align: center;

    margin-bottom: 5rem;
}

#projects .row .col-6{
    padding: 5% 10%;
}