/* 
#8FBDD3 blue
#E4D1B9 beige
#BE8C63 light-brown
#A97155 brown
*/


*{
    margin: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    font-family: 'Nunito Sans', sans-serif;
    padding: 1.5% 4% !important;
    z-index: 1000;
}

nav ul{
    display: flex;
    flex-direction: row;
    margin: 0;
}

nav h1{
    font-weight: 700;
    font-size: 1.5rem;
}

nav li{
    list-style: none;
    margin-left: 4rem;
}

nav a{
    text-decoration: none;
    color:grey;
    font-size: 1rem;
    font-weight: 600;

    transition: 0.7s;
}

nav a:hover{
    color: #8FBDD3;
}

label{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
}

footer{
    background-color: #8FBDD3;
    text-align: center;
}

h5 a{
    color: #212529;
}

input{
    margin-bottom: 2rem;
}

textarea{
    margin-bottom: 3rem;
}







.pad-x{
    padding-left: 10%;
    padding-right: 10%;
}

.bg-blob{
    background: url("../images/blob.svg");
    background-size: cover;
    background-position:center;
}

.card{
    border: none;
    border-radius: 2rem;
    text-align: center;
}
.card-img-top{
    border-radius: 2rem 2rem 0 0 ;
}
.card-title{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
}
.card-text{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
}

.row{
    margin: 0;
}






#header{
    padding-top: 15%;
    padding-bottom: 15%;
    margin-top: -3rem;
}
#header h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
#header h1:nth-child(1){
    font-size: 4rem;
}
#header h1:nth-child(2){
    font-size: 6rem;
}
#header p{
    font-size: 1.5rem;
}

#about{
    padding-top: 3%;
    padding-bottom: 3%;
}
#about .col-lg-6:nth-child(1){
    background: url("../images/blob2.svg");
    background-size: contain;
    background-repeat:no-repeat;
    background-position: center;

    display: flex;
    align-items: center;
    justify-content: center;
}
#about .col-lg-6:nth-child(1) h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 4rem;
}
#about .col-lg-6:nth-child(2) h1{
    display: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 4rem;
}
#about p{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
}
#about p a{
    color: #8FBDD3;
    text-decoration: none;
}

#projects{
    padding-top: 7%;
    padding-bottom: 7%;

    background: url("../images/waves.svg");
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}
#projects h1:nth-child(1){
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 4rem;
    text-align: center;

    margin-bottom: 2rem;
}
#projects .row .col-lg-6{
    padding: 5% 10%;
}

#contact{
    margin-top: -2px;
    background-color: #8FBDD3;

    padding-bottom: 7%;
}
#contact h1:nth-child(1){
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 4rem;
    text-align: center;

    margin-bottom: 4rem;
}
#contact p{
    display: inline;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    margin: 0 0 0 3rem;
}
#contact a{
    display: inline;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    margin: 0 0 0 1rem;
    color: #212529;
}
#contact .row .col-lg-6:nth-child(1){
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}
#contact .row .col-lg-6:nth-child(1) div{
    display: flex;
    align-items: center;
}
#contact .row .row .col-sm-6{
    padding: 0;
}
#contact .row .row .col-sm-6:nth-child(1){
    padding-right: 1rem;
}
#contact .row .row .col-sm-6:nth-child(2){
    padding-left: 1rem;
}






@media (max-width: 992px){
    #header{
        text-align: center;
    }

    #about{
        text-align: center;
    }
    #about .col-lg-6:nth-child(1){
        display: none;
    }
    #about .col-lg-6:nth-child(2) h1{
        display: block;
    }

    #projects .row .col-lg-6{
        padding: 5% 20%;
    }

    #contact .col-lg-6:nth-child(1) div{
        margin-bottom: 1.5rem;
    }
    #contact .col-lg-6:nth-child(2){
        margin-top: 3rem;
    }
}

@media (max-width: 768px){
    #projects .row .col-lg-6{
        padding: 5% 10%;
    }
}

@media (max-width: 576px){
    nav{
        display: none;
    }
    input{
        margin-bottom: 1rem;
    }

    .pad-x{
        padding: 0;
    }

    #header{
        margin-top: 0;
    }
    #header h1:nth-child(1){
        font-size: 3rem;
    }
    #header h1:nth-child(2){
        font-size: 4rem;
    }
    #header p{
        font-size: 1rem;
    }

    #about .col-lg-6:nth-child(2) h1{
        font-size: 3rem;
    }

    #projects h1:nth-child(1){
        font-size: 3rem;
    }

    #contact{
        text-align: center;
    }
    #contact h1:nth-child(1){
        font-size: 3rem;
        margin-bottom: 2rem;
    }
    #contact .row .row .col-sm-6:nth-child(1){
        padding-right: 0;
    }
    #contact .row .row .col-sm-6:nth-child(2){
        padding-left: 0;
    }
    #contact .row .col-lg-6:nth-child(1){
        align-items: center;
    }
    #contact .row .col-lg-6:nth-child(1) div{
        flex-direction: column;
    }
    #contact .row .col-lg-6:nth-child(1) div p{
        margin: 0;
    }
    #contact .col-lg-6:nth-child(2) {
        margin-top: 2rem;
    }
}