/* 
#8FBDD3 blue
#E4D1B9 beige
#BE8C63 light-brown
#A97155 brown
*/


*{
    margin: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: 'Nunito Sans', sans-serif;
    z-index: 1000;
    height: 100%;    
    width: 100%;
}

nav ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 40%;
    margin: 0;
    /* margin-top: 10rem; */
    padding: 0;
}

nav h1{
    font-weight: 700;
    font-size: 1.5rem;
}

nav li{
    list-style: none;
}

nav a{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;

    transition: 0.7s;
}

nav a:hover{
    color: #212529;
}

label{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
}

footer{
    /* border-top: #212529 solid 0.5px; */
    background: #8FBDD3;
    text-align: center;
}

h5 a{
    color: #212529;
}

input{
    margin-bottom: 2rem;
}

textarea{
    margin-bottom: 3rem;
}







.pad-x{
    padding-left: 10%;
    padding-right: 10%;
}

.bg-blob{
    background: url("../images/blob.svg");
    background-size: cover;
    background-position:center;
}

.card{
    border: none;
    border-radius: 2rem;
    text-align: center;
}
.card-img-top{
    border-radius: 2rem 2rem 0 0 ;
}
.card-title{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
}
.card-text{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
}

.card-text a{
    color: #8FBDD3;
    text-decoration: none;
}

.row{
    margin: 0;
} 

.custom-tooltip {
    --bs-tooltip-bg: var(--bs-dark);
  }




#sidebar{
    height: 100vh;
    width: 6rem;
    background-color: #8FBDD3;
    position: fixed;
    top:0;
    left: 0;
    padding: 4rem 0;
}

#content{
    margin-left: 6rem;
}

#header{
    padding-top: 15%;
    padding-bottom: 15%;
    /* margin-top: -3rem; */
}
#header h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
#header h1:nth-child(1){
    font-size: 4rem;
}
#header h1:nth-child(2){
    font-size: 6rem;
}
#header p{
    font-size: 1.5rem;
}

#about .col-lg-6:nth-child(1){
    background: url("../images/blob2.svg");
    background-size: contain;
    background-repeat:no-repeat;
    background-position: center;

    display: flex;
    align-items: center;
    justify-content: center;
}
#about .col-lg-6:nth-child(1) h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 4rem;
}
#about .col-lg-6:nth-child(2) h1{
    display: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 4rem;
}
#about p{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
}
#about p a{
    color: #8FBDD3;
    text-decoration: none;
}

#projects{
    padding-top: 3rem;

    background: url("../images/wave.svg");
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}
#projects h1:nth-child(1){
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 4rem;
    text-align: center;

    margin-bottom: 0rem;
}
#projects .row .col-lg-6{
    padding: 5% 10%;
}

#contact{
    margin-top: -2px;
    padding-top: 3rem;
    padding-bottom: 7%;
    background: url("../images/waves.svg");
    background-size: cover;
    background-position: bottom;
}
#contact h1:nth-child(1){
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 4rem;
    text-align: center;

    margin-bottom: 2rem;
}
#contact p{
    display: inline;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    margin: 0 0 0 1.5rem;
}
#contact a{
    display: inline;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    margin: 0 0 0 1rem;
    color: #212529;
}
#contact .row .col-lg-6:nth-child(1){
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}
#contact .row .col-lg-6:nth-child(1) div{
    display: flex;
    align-items: center;
}
#contact .row .row .col-sm-6{
    padding: 0;
}
#contact .row .row .col-sm-6:nth-child(1){
    padding-right: 1rem;
}
#contact .row .row .col-sm-6:nth-child(2){
    padding-left: 1rem;
}

::-webkit-scrollbar{
    width: 0.5em;
}

::-webkit-scrollbar-track{
    background-color: #f0f0f0;
}

::-webkit-scrollbar-thumb{
    background-color: #8FBDD3;
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover{
    background-color: #84acbf;
}




@media (max-width: 992px){
    #header{
        text-align: center;
    }

    #about{
        text-align: center;
    }
    #about .col-lg-6:nth-child(1){
        display: none;
    }
    #about .col-lg-6:nth-child(2) h1{
        display: block;
    }

    #projects .row .col-lg-6{
        padding: 5% 20%;
    }

    #contact .col-lg-6:nth-child(1) div{
        margin-bottom: 1.5rem;
    }
    #contact .col-lg-6:nth-child(2){
        margin-top: 3rem;
    }
}

@media (max-width: 768px){
    #projects .row .col-lg-6{
        padding: 5% 10%;
    }
}

@media (max-width: 576px){
    nav{
        display: none;
    }
    input{
        margin-bottom: 1rem;
    }

    .pad-x{
        padding: 0;
    }


    #sidebar{
        display: none;
    }    
    #content{
        margin:0;
    }
    #header{
        margin-top: 0;
    }
    #header h1:nth-child(1){
        font-size: 3rem;
    }
    #header h1:nth-child(2){
        font-size: 4rem;
    }
    #header p{
        font-size: 1rem;
    }

    #about .col-lg-6:nth-child(2) h1{
        font-size: 3rem;
    }

    #projects h1:nth-child(1){
        font-size: 3rem;
    }

    #contact{
        text-align: center;
    }
    #contact h1:nth-child(1){
        font-size: 3rem;
        margin-bottom: 2rem;
    }
    #contact .row .row .col-sm-6:nth-child(1){
        padding-right: 0;
    }
    #contact .row .row .col-sm-6:nth-child(2){
        padding-left: 0;
    }
    #contact .row .col-lg-6:nth-child(1){
        align-items: center;
    }
    #contact .row .col-lg-6:nth-child(1) div{
        flex-direction: column;
    }
    #contact .row .col-lg-6:nth-child(1) div p{
        margin: 0;
    }
    #contact .col-lg-6:nth-child(2) {
        margin-top: 2rem;
    }
}